<a href="https://colab.research.google.com/github/msnyd/DS-Unit-1-Sprint-2-Statistics/blob/master/module-1-sprint-2-Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [24]:
### YOUR CODE STARTS HERE
import pandas as pd
import numpy as np

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

voting_data = pd.read_csv(url, header = None)
voting_data.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [20]:
column_headers = ['Class Name', 'handicapped_infants', 'water-project-cost-sharin', 
                  'adoption-of-the-budget-resolution', 'physician-fee-freeze',
                  'el-salvador-ai', 'religious-groups-in-schools', 'anti-satellite-test-ban',
                  'aid-to-nicaraguan-contras', 'mx-missile', 'immigration',
                  'synfuels-corporation-cutback', 'education-spending', 'superfund-right-to-sue',
                  'crime', 'duty-free-exports', 'export-administration-act-south-africa']

df = pd.read_csv(url, header = None, names = column_headers)
df.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [21]:
df.isnull().sum()

Class Name                                0
handicapped_infants                       0
water-project-cost-sharin                 0
adoption-of-the-budget-resolution         0
physician-fee-freeze                      0
el-salvador-ai                            0
religious-groups-in-schools               0
anti-satellite-test-ban                   0
aid-to-nicaraguan-contras                 0
mx-missile                                0
immigration                               0
synfuels-corporation-cutback              0
education-spending                        0
superfund-right-to-sue                    0
crime                                     0
duty-free-exports                         0
export-administration-act-south-africa    0
dtype: int64

In [27]:
df = df.replace({'?':np.NaN, 'n':0, 'y':1})
df.head()

   Class Name  ...  export-administration-act-south-africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [34]:
print(df.shape)
df.describe()

(435, 17)

       handicapped_infants  ...  export-administration-act-south-africa
count           423.000000  ...                              331.000000
mean              0.442080  ...                                0.812689
std               0.497222  ...                                0.390752
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               0.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [0]:
dem = df[df['Class Name'] == 'democrat']
rep = df[df['Class Name'] == 'republican']

In [36]:
dem.head()

  Class Name  ...  export-administration-act-south-africa
2   democrat  ...                                     0.0
3   democrat  ...                                     1.0
4   democrat  ...                                     1.0
5   democrat  ...                                     1.0
6   democrat  ...                                     1.0

[5 rows x 17 columns]

In [49]:
rep.head()

    Class Name  ...  export-administration-act-south-africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

In [37]:
df.isnull().sum()

Class Name                                  0
handicapped_infants                        12
water-project-cost-sharin                  48
adoption-of-the-budget-resolution          11
physician-fee-freeze                       11
el-salvador-ai                             15
religious-groups-in-schools                11
anti-satellite-test-ban                    14
aid-to-nicaraguan-contras                  15
mx-missile                                 22
immigration                                 7
synfuels-corporation-cutback               21
education-spending                         31
superfund-right-to-sue                     25
crime                                      17
duty-free-exports                          28
export-administration-act-south-africa    104
dtype: int64

In [0]:
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [45]:
ttest_ind(rep['immigration'], dem['immigration'], nan_policy='omit')

Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)

In [57]:
#### REP SUPPORT #####

print(rep['crime'].mean())
print(dem['crime'].mean())
ttest_ind(rep['crime'], dem['crime'], nan_policy='omit')

0.9813664596273292
0.35019455252918286

Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)

In [58]:
#### DEM SUPPORT ####

print(rep['mx-missile'].mean())
print(dem['mx-missile'].mean())
ttest_ind(rep['mx-missile'], dem['mx-missile'], nan_policy='omit')

0.11515151515151516
0.7580645161290323

Ttest_indResult(statistic=-16.437503268542994, pvalue=5.03079265310811e-47)

In [62]:
#### MUTUAL SUPPORT ####

print(rep['immigration'].mean())
print(dem['immigration'].mean())
ttest_ind(rep['immigration'], dem['immigration'], nan_policy='omit')

0.5575757575757576
0.4714828897338403

Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)